In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv('../dataset/thyroid_cancer_risk_data.csv')
dataset.head()

,Patient_ID,Age,Gender,Country,Ethnicity,Family_History,Radiation_Exposure,Iodine_Deficiency,Smoking,Obesity,Diabetes,TSH_Level,T3_Level,T4_Level,Nodule_Size,Thyroid_Cancer_Risk,Diagnosis
0,1,66,Male,Russia,Caucasian,No,Yes,No,No,No,No,9.37,1.67,6.16,1.08,Low,Benign
1,2,29,Male,Germany,Hispanic,No,Yes,No,No,No,No,1.83,1.73,10.54,4.05,Low,Benign
2,3,86,Male,Nigeria,Caucasian,No,No,No,No,No,No,6.26,2.59,10.57,4.61,Low,Benign
3,4,75,Female,India,Asian,No,No,No,No,No,No,4.10,2.62,11.04,2.46,Medium,Benign
4,5,35,Female,Germany,African,Yes,Yes,No,No,No,No,9.10,2.11,10.71,2.11,High,Benign

In [3]:
dataset.shape

(212691, 17)

In [4]:
input_data = dataset.iloc[:, :-2]
output_data = dataset['Thyroid_Cancer_Risk']

In [5]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.25)

In [6]:
x_test.shape, y_test.shape

((53173, 15), (53173,))

In [7]:
x_train.shape, y_train.shape

((159518, 15), (159518,))

In [8]:
x_train

,Patient_ID,Age,Gender,Country,Ethnicity,Family_History,Radiation_Exposure,Iodine_Deficiency,Smoking,Obesity,Diabetes,TSH_Level,T3_Level,T4_Level,Nodule_Size
67075,67076,41,Female,Brazil,Middle Eastern,Yes,No,Yes,No,Yes,No,4.35,0.68,6.57,4.34
26215,26216,52,Male,China,Caucasian,No,No,Yes,No,No,No,9.09,0.54,7.50,3.88
129797,129798,17,Female,South Korea,Caucasian,No,No,No,No,Yes,No,5.13,1.94,10.82,4.48
199593,199594,79,Male,Russia,African,No,No,No,No,No,Yes,6.93,1.37,6.06,1.37
87847,87848,89,Male,Brazil,Caucasian,Yes,No,No,No,No,Yes,2.46,2.84,7.92,4.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28734,28735,77,Female,Germany,Hispanic,No,No,No,No,No,No,0.48,0.91,8.11,0.06
27472,27473,46,Female,India,Middle Eastern,Yes,No,No,Yes,No,Yes,4.66,2.09,5.75,4.49
64346,64347,21,Female,Brazil,Asian,Yes,Yes,Yes,No,Yes,No,4.17,3.06,10.30,3.68
117236,117237,72,Female,India,Asian,No,No,Yes,No,No,No,5.71,3.04,10.80,3.97
164447,164448,76,Male,China,Hispanic,Yes,No,Yes,No,Yes,No,3.58,2.16,11.79,1.21